.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 0px;
    height: 100vh;
}

.menubar{
    grid-column: 1/3;
    padding: 20px;
    background-color: aqua;
    border-style: solid;
    border-color: black;
   
}

.missionstatment{
    padding: 20px;
    border-style: solid;
    border-color: black;
}

.targetpersona{
    padding: 20px;
    border-style: solid;
    border-color: black;
}


