<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roadwise Victoria</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/conditions">Crash Conditions</a>
        <a href="/discover">Discover Trends</a>
    </nav>

    <main>
        <h1>Roadwise Victoria</h1>

        <p>
            Explore Victorian road incidents and understand how road-surface,
            atmospheric and lighting conditions affect road safety.
        </p>

        <a href="/conditions">Explore Crash Conditions</a>
    </main>
</body>
</html>